<h1>Users Profiles</h1>
<p><strong>User Name:</strong><%= @user.username %></p>
<p><strong>Email:</strong><%= @user.email %></p>
<p><%= link_to "Back to Users", users_path %></p>
<%= render "articles/articles" %>
