<h1>Users list pages</h1>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Articles Number</th>
      <th colspan="2" >Details</th>
      <th>Joins</th>
    </tr>
  </thead>
  <tbody>
    <div class="flickr_pagination">
      <%= will_paginate @users, :container => false %>
    </div>
    <%= render "users" %>
  </tbody>
</table>
<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>

